[Desktop Action opencodeossdir]
Exec=code %F
Icon=code
Name=Open with Code - OSS
Name[ar]=الفتح بواسطة Code - OSS
Name[nl]=Openen met Code - OSS
Name[pl]=Otwórz z Code - OSS
Name[szl]=Ôtwůrz ze Code - OSS

[Desktop Entry]
Actions=opencodeossdir
MimeType=inode/directory;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel

