[Desktop Action openvscodium]
Exec=vscodium %F
Icon=vscodium
Name=Open with VSCodium
Name[ar]=الفتح بواسطة VSCodium
Name[nl]=Openen met VSCodium

[Desktop Entry]
Actions=openvscodium
MimeType=all/all;
ServiceTypes=KonqPopupMenu/Plugin
Type=Service
X-KDE-Priority=TopLevel
